<% if user_signed_in? %>

<p id="notice"><%= notice %></p>

<h1>Branches</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Branch json url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @branches.each do |branch| %>
      <tr>
        <td><%= branch.name %></td>
        <td><%= branch.branch_json_url %></td>
        <td><%= link_to 'Show', branch %></td>
        <td><%= link_to 'Edit', edit_branch_path(branch) %></td>
        <td><%= link_to 'Destroy', branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Branch', new_branch_path %>

<% else %>

<div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
  <% @branches.each do |branch| %>
    <% if branch == @branches.first %>
      <div class="carousel-item active flex-wrap">
        <nav class="navbar navbar-inverse text-center bg-primary w-100">
          <h1 class="display-4"><%= branch.name %></h1>
        </nav>
      </div>
    <% else %>
      <div class="carousel-item flex-wrap">
        <nav class="navbar navbar-inverse text-center bg-primary w-100">
          <h1 class="display-4"><%= branch.name %></h1>
        </nav>
      </div>
    <% end %>
  <% end %>
  </div>
</div>

<% end %>

<!--JQuery, Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>