<% if user_signed_in? %>

<p id="notice"><%= notice %></p>

<h1>Branches</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Branch json url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @branches.each do |branch| %>
      <tr>
        <td><%= branch.name %></td>
        <td><%= branch.branch_json_url %></td>
        <td><%= link_to 'Show', branch %></td>
        <td><%= link_to 'Edit', edit_branch_path(branch) %></td>
        <td><%= link_to 'Destroy', branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Branch', new_branch_path %>

<% else %>

<%
  if defined? @@cranches
    if @@cranches.to_a.empty?
      @branches.each do |k|
        tmp = Cranch.new(k.branch_json_url)
        unless tmp.nil?
          @@cranches << tmp
        end
      end
    end
  else
    @@cranches = Array.new
    @branches.each do |k|
      tmp = Cranch.new(k.branch_json_url)
      unless tmp.nil?
        @@cranches << tmp
      end
    end
  end
%>

<div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
  <% @@cranches.each_with_index do |branch, index| %>

    <% if branch == @@cranches.first %>
      <div class="carousel-item active flex-wrap">
    <% else %>
      <div class="carousel-item flex-wrap">
    <% end %>

        <nav class="navbar navbar-inverse text-center bg-primary w-100">
          <h1 class="display-4"><%= @branches[index].name %></h1>
        </nav>
        <div class="row w-100 justify-content-center m-0 p-4">
          
          <% branch.getTeams.each do |i| %>
          
            <div class="card">
              <div class="card-header card-header-success">
                  <h4 class="d-flex justify-content-between"><%= i.name %><i class="fa fa-check"></i></h4>
              </div>
              <div class="card-block">
                <% i.getBuilds.each do |j| %>
                  <p class="card-text d-flex justify-content-between"><%= j.getInfo[0] %>
                  <% if j.getInfo[3] == 0 %>
                    <% if j.getInfo[1] == "blue" %>
                      <i class="fa fa-check-circle"></i>
                    <% elsif j.getInfo[1] == "red" %>
                      <i class="fa fa-times-circle"></i>
                    <% else %>
                      <i class="fa fa-warning"></i>
                    <% end %>
                  <% else %>
                    <span><%= j.getInfo[2] %>/<%= j.getInfo[3] %></span>
                  <% end %>
                  </p>
                <% end %>
              </div>
            </div>
          
          <% end %>
        
        </div>
      </div>
  
  <% end %>
  </div>
</div>

<% end %>

<!--JQuery, Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>