<p id="notice"><%= notice %></p>

<div class = "container" id="branchestable">
  <div class="col-sm-6">
    <h1>Branches</h1>
  </div>
  <div class="col-sm-6" id="newbranchbutton">
    <h1><%= link_to 'New Branch', new_branch_path, :class=> "btn btn-info" %></h1>
  </div>

  <table class="table table-hover table-default table-responsive" id="branches">
    <thead>
      <tr class="row-sm-6">
        <th class="col-sm-6">Name</th>
        <th class="col-sm-6">Branch json url</th>
      </tr>
    </thead>
      <% @branches.each do |branch| %>
        <tr class="row-sm-6">
          <td class="col-sm-6"><%= branch.name %></td>
          <td class="col-sm-6"><%= branch.branch_json_url %></td>
          <!--<td class="col-sm-6"><%= link_to 'Show', branch %></td>-->
          <td class="col-sm-6"><%= link_to 'Edit', edit_branch_path(branch) %></td>
          <td class="col-sm-6"><%= link_to 'Delete', branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
  </table>

  <br>
</div>