<% if user_signed_in? %>

<p id="notice"><%= notice %></p>

<div class = "container" id="branchestable">
  <div class="col-sm-6">
    <h1>Branches</h1>
  </div>
  <div class="col-sm-6" id="newbranchbutton">
    <h1><%= link_to 'New Branch', new_branch_path, :class=> "btn btn-info" %></h1>
  </div>

  <table class="table table-hover table-default table-responsive" id="branches">
    <thead>
      <tr class="row-sm-6">
        <th class="col-sm-6">Name</th>
        <th class="col-sm-6">Branch json url</th>
      </tr>
    </thead>
      <% @branches.each do |branch| %>
        <tr class="row-sm-6">
          <td class="col-sm-6"><%= branch.name %></td>
          <td class="col-sm-6"><%= branch.branch_json_url %></td>
          <!--<td class="col-sm-6"><%= link_to 'Show', branch %></td>-->
          <td class="col-sm-6"><%= link_to 'Edit', edit_branch_path(branch) %></td>
          <td class="col-sm-6"><%= link_to 'Delete', branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
  </table>

<%= link_to 'New Branch', new_branch_path %>

<% else %>

<%
  if defined? @@cranches
    @@cranches.clear
  end
  @@cranches = Array.new
  @branches.each do |k|
    tmp = Cranch.new(k.branch_json_url)
    unless tmp.nil?
      @@cranches << tmp
    end
  end
%>


<div class="carousel slide" data-ride="carousel" data-interval="20000" data-wrap="false">
  <div class="carousel-inner">
  <% @@cranches.each_with_index do |branch, index| %>

    <% if branch == @@cranches.first %>
      <div class="carousel-item active flex-wrap">
    <% else %>
      <div class="carousel-item flex-wrap">
    <% end %>

        <nav class="navbar navbar-inverse text-center bg-primary w-100">
          <h1 class="display-4"><%= @branches.to_a[index].name %></h1>
        </nav>
        <div class="row w-100 justify-content-center m-0 p-4">
          
          <% branch.getTeams.each do |i| %>
          
            <div class="card">
              <% 
                n = d = 0 
                i.getBuilds.each do |j|
                  n += j.getInfo[2]
                  d += j.getInfo[3]
                end
              %>

              <% if 10 * n < 7 * d %>
                <div class="card-header card-header-danger">
              <% else %>
                <div class="card-header card-header-success">
              <% end %>
              
                  <h4 class="d-flex justify-content-between"><%= i.name %>

                    <% if 10 * n < 7 * d %>
                      <i class="fa fa-times"></i>
                    <% else %>
                      <i class="fa fa-check"></i>
                    <% end %>
                  </h4>
              </div>
              <div class="card-block">
                <% i.getBuilds.each do |j| %>
                  <p class="card-text d-flex justify-content-between"><%= j.getInfo[0] %>
                  <% if j.getInfo[3] == 1 %>
                    <% if j.getInfo[1] == "blue" %>
                      <i class="fa fa-check-circle"></i>
                    <% elsif j.getInfo[1] == "red" %>
                      <i class="fa fa-times-circle"></i>
                    <% else %>
                      <i class="fa fa-warning"></i>
                    <% end %>
                  <% else %>
                    <span><%= j.getInfo[2] %>/<%= j.getInfo[3] %></span>
                  <% end %>
                  </p>
                <% end %>
              </div>
              <div class="card-footer text-muted">
                  Last commit by: <b>Nokia</b>
              </div>
            </div>
          
          <% end %>
        
        </div>
      </div>
  
  <% end %>
  </div>
</div>

<% end %>


</div>
<!--JQuery, Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>


<script type="text/javascript">
  setInterval(
    function()
    {
      window.location.reload();
    }, 
    <%= @branches.size * 20000 %>
  );
</script>