<p id="notice"><%= notice %></p>

<strong>Name:</strong>
<%= @branch.name %>

<br><br>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %> | 
<%= link_to "Add team to this branch", new_branch_team_path(@branch) %>

<br><br>

<% if @teams.blank? %>
	<h3>No teams yet.</h3>
<% else %>
	<b>teams</b><br>
    <% @teams.each do |team| %>
    	<%= team.name %>
    	<%= link_to 'Edit', edit_branch_team_path(@branch, team) %> | 
    	<%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
<% end %>