<% branches = init_branches %>

<div class="carousel-inner h-100">

  <% slide = 0 %>
  <% branches.each do |branch| %>
  <% slide += 1 %>

  <div class="carousel-item h-100" id="<%= slide %>">

    <div class="wrapper">

      <!-- SIDE NAV -->
      <aside id="health" class="card-inverse">

        <!-- CHART -->
        <div style="max-height: 250px;">
          <canvas id="doughnutChart1"></canvas>
          <input type="hidden" id="success" value="60"></input>
          <input type="hidden" id="fail" value="28"></input>
          <input type="hidden" id="unstable" value="12"></input>
        </div>

        <!-- WORST HEALTH -->
        <span class="d-block text-center"><%= branch.reportHealth("worst") %></span>

        <!-- PROGRESS BARS -->
        <div class="h-100">
          <ul class="list-group list-group-flush">
            <% branch.folders.each do |folder| %>
              <% stat = branch.getStatus(folder) %>
              <li class="list-group-item justify-content-between bg-transparent">
                <%= folder["name"] %>
                <span>
                  <% if stat == -1 %>
                    N/A
                  <% else %>
                    <%= stat %>%
                  <% end %>
                </span>
                <div class="progress w-100">
                  <div class="progress-bar" style="width: <%= stat %>%; height: 5px;"></div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>

      </aside>

      <!-- NAV BAR -->
      <nav id="main-nav" class="navbar navbar-inverse">
        <button class="navbar-toggler navbar-toggler-left" type="button">
        <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="mb-0 text-white text-center">{ <%= branch.name %> }</h1>
      </nav>

      <!-- MAIN CONTENT -->
      <main id="branch" class="container-fluid mt-2 mb-2">

        <!-- ALERT -->
        <% if branch.display == true %>
          <div class="alert alert-warning" role="alert">
            <strong>Holy guacamole!</strong> <%= branch.msg %>
          </div>
        <% end %>

        <!-- ROW -->
        <section class="row">

          <!-- FOLDERS -->
          <article id="builds" class="col-md-8 col-xl-10">
       
            <!-- CARDS -->
            <div class="card-deck flex-nowrap overflow-hidden">
              
              <% branch.folders.each do |folder| %>
              
              <!-- ONE CARD -->
              <div class="card border-0 mb-2 translate-x">
       
                <!-- CARD HEADER -->
                <h4 class="card-header bg-primary card-inverse">
                  <%= folder["name"] %>
                  <i class="fa fa-check pull-right"></i>
                </h4>
       
                <% latestJob = branch.getLatestJob(folder["jobs"]) %>
                
                <% latestBuild = branch.getLatestBuild(folder) %>

                <% if latestBuild.nil? %>
                  <div class="card-block bg-faded p-3" style="flex: 0 auto;">
                    <b>NO RECENT BUILDS</b>
                  </div>

                <% else %>

                  <% latestCommit = branch.getLatestCommit(latestBuild) %>

                  <!-- COMMIT INFO -->
                  <% if latestCommit.nil? %>
                    <div class="card-block bg-faded p-3" style="flex: 0 auto;">
                      <b>EMPTY CHANGESET</b>
                    </div>
                  <% else %>
                    <div class="card-block bg-faded p-3" style="flex: 0 auto;">
                      <b><%= latestCommit["author"]["fullName"] %></b> <small class="badge badge-primary pull-right"><%= latestCommit["id"][0..7] %></small>
                      <small class="d-block text-center"><%= latestCommit["msg"] %></small>
                    </div>
                  <% end %>

                <% end %>

                <!-- LIST OF SUBJOBS -->
                <% subjobs = folder["jobs"] %>
                <% if not subjobs.nil? %>
                  <ul class="list-group list-group-flush" style="flex: 1 auto;">
                  <% subjobs.each do |subjob| %>
                    <li class="list-group-item justify-content-between">
                      <%= subjob["name"] %>

                    <!-- SUBJOB STATUS ICONS -->
                    <% subjobStatus = branch.getStatus(subjob) %>
                    <% if subjobStatus == "success" %>
                      <i class="fa fa-check-circle text-green"></i></li>
                    <% elsif subjobStatus == "fail" %>
                      <i class="fa fa-times-circle text-red"></i></li>
                    <% else %>
                      <i class="fa fa-ban"></i></li>
                    <% end %>

                  <% end %>
                  </ul>
                <% end %>
       
                <!-- CARD FOOTER -->
                <div class="card-footer bg-primary card-inverse text-center p-1">
                  <small>Last Built on 7:59pm, Aug 3, 2017</small>
                </div>
              </div>
              <% end %>
            </div>
          </article>

          <!-- PROJECTS -->
          <article id="projects" class="col-md-4 col-xl-2">

            <ul class="list-group list-group-flush overflow-hidden">
              <% branch.projects.each do |project| %>
                <li class="list-group-item translate-y">

                <!-- PROJECT STATUS ICONS -->
                <% projectStatus = branch.getStatus(project) %>
                <% if projectStatus == "success" %>
                  <i class="fa fa-3x fa-check-circle text-green"></i> <%= project["name"] %></li>
                <% elsif projectStatus == "fail" %>
                  <i class="fa fa-3x fa-times-circle text-red"></i> <%= project["name"] %></li>
                <% else %>
                  <i class="fa fa-3x fa-ban"></i> <%= project["name"] %></li>
                <% end %>


              <% end %>
            </ul>

          </article>

        </section>

      </main>

    </div>

  </div>

  <% end %>

</div>