<nav class="navbar fixed-top navbar-light bg-faded">
    <a href="" class="navbar-brand">
      <img id="logo" src="../../assets/logo.png" height="30" alt="Nokia" />
    </a>
</nav>

<div class="card border-0 rounded-0 h-100">
  <img class="card-img border-0 rounded-0 h-100" src="../../assets/desk-backgound.jpg" alt="Card image">
  <div class="card-img-overlay d-flex align-items-center">
      <main class="container-fluid">
          <div class="card m-auto" style="width: 20rem;">
              <div class="card-block">
                  <i class="fa fa-5x fa-user-circle d-block text-center"></i>
                  <h4 class="card-title text-center">Log in</h4>

                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                    <%= devise_error_messages! %>

                    <div class="form-group">
                      <label for="user_email" class="form-control-label">Email</label>
                      <%= f.email_field :email, class: "form-control", placeholder: "admin@mymail.com" %>
                    </div>

                    <div class="form-group">
                      <label for="user_password">Password</label>
                      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "*******" %>
                    </div>

                    <%= f.submit "Log in" , :class => "btn btn-block btn-primary"%>

                  <% end %>

              </div>
          </div>
      </main>
  </div>
</div>