<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar" id="signedin">
        <div class="row">
           <div class="col-sm-6" id="header">
          </div>
          <div class="col-sm-6" id="signout">
            <p>Hello, <%= current_user.email %> | <%= link_to "Sign_out", destroy_user_session_path, :method => 'delete', :class => "btn btn-info" %></p> 
          </div>
        </div>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
